<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results For <%= viewName %> </h2>

<ul>
    <% results.forEach(function(r) { %>
        <li> Game started at <%= new Date(r.start_time * 1000).toLocaleString() %> and lasted <%= Math.round(r.duration1/60) %> mins <a href="/matches/<%= r.match_id %>/winners">(see winners)</a></li>
    <% }); %>
</ul>

</div>

</body>
</html>