<!DOCTYPE html>
<html xmlns:http="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            hero_stats
		</title>
        <meta http-equiv="Cache-Control" content="no-siteapp-platform">
        <link rel="apple-touch-icon" sizes="57x57" href="http://cdn.dota2.com/apps/dota2/images/nav/logo.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://cdn.dota2.com/apps/dota2/images/nav/logo.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://cdn.dota2.com/apps/dota2/images/nav/logo.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://cdn.dota2.com/apps/dota2/images/nav/logo.png">
        <link rel="stylesheet" type="text/css" href="./match_files/dotamax_style_2016051401.css">
        <link rel="stylesheet" type="text/css" href="./match_files/font-awesome.min.css">
        <style type="text/css">
			.nav-head li{border: 0;}
			#top-nav .nav-right{display: table;float: right;width: 320px;height: 46px;font-size: 12px;}
			#top-nav .nav-right *{box-sizing: border-box;}
			#top-nav .nav-right .account-wrap{display: table-cell;vertical-align: middle;}
			#top-nav .nav-right .account-wrap .btn{
			    float: right;
			    width: 70px;
			    text-align: center;
			    border: 0;
			    border-radius: 0;
			    cursor: pointer;
			    background: transparent;
			    box-shadow: none;
			    text-shadow: none;
			    padding: 0;
			    color: #d2d2d2;
			    line-height: 46px;
			    -webkit-transition: all 300ms ease;
			    -moz-transition: all 300ms ease;
			    transition: all 300ms ease;
			}
			#top-nav .nav-right .account-wrap .btn:hover{color: #fff;background: #913232;}
			#top-nav .nav-right .account-wrap .btn.sign-in{border-color: transparent;}
			#top-nav .nav-right .account-wrap .btn.login{border-color: #913232;}
			#top-nav .nav-right .account-info-wrap{display: block;position: relative;float: right;cursor: pointer;}
			#top-nav .nav-right .account-wrap .avator{position: relative;z-index: 1;float: right;width: 30px;height: 30px;border: 1px solid #913232;border-radius: 50%;overflow: hidden;margin-top: 5px;}
			#top-nav .nav-right .account-wrap .avator img{display: block;width: 30px;margin: -1px 0 0 -1px;border-radius: 50%;}
			#top-nav .nav-right .account-wrap .name{max-width: 130px;float: right;padding-left: 15px;line-height: 40px;text-align: center;}
			#top-nav .nav-right .account-wrap .arrow{float: right;line-height: 40px;}
			#top-nav .nav-right .account-wrap .arrow i{top: 2px;line-height: 20px;margin-left: 8px;
				-webkit-transition: all 200ms ease;
			    -moz-transition: all 200ms ease;
			    transition: all 200ms ease;
			}
			#top-nav .nav-right .account-wrap .arrow i.open{
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
			#top-nav .nav-right .menu-wrap{position: absolute;z-index: 1000;top: 60px;right: -5px;width: 120px;background: #1b1b1b;box-shadow: 0 0 5px rgba(0,0,0,.5);padding: 5px 1px;}
			#top-nav .nav-right .menu{overflow: hidden;}
			#top-nav .nav-right .menu i{margin-right: 10px;color: #913232;
				-webkit-transition: all 300ms ease;
			    -moz-transition: all 300ms ease;
			    transition: all 300ms ease;
			}
			#top-nav .nav-right .menu li{width: 100%;padding: 0;line-height: 34px;border: 0;}
			#top-nav .nav-right .menu li a{display: block;line-height: 34px;padding-left: 20px;
				-webkit-transition: all 300ms ease;
			    -moz-transition: all 300ms ease;
			    transition: all 300ms ease;
			}
			#top-nav .nav-right .menu li a:hover{color: #fff;background: #913232;}
			#top-nav .nav-right .menu li a:hover i{color: #fff;}
			.ellipsis{display: block;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;word-berak: normal;word-wrap: normal;}
			.n-modal{padding: 20px;background: #1b1b1b;box-shadow: 0 0 5px rgba(0,0,0,.5);}
			.n-modal a{color: #C23C2A;}
			.n-modal i{margin-right: 10px;}
			.n-modal i.fail{color: #913232;}
			.n-modal i.success{color: #57BA35;}
			.n-modal i.warn{color: #BAB135;}
			.s-notice{line-height: 40px;text-align: center;}
			.steam_login{
				height: 28px;
				font-size: 12px;
				margin: 7px 7px 7px 0;
				float: right;
				padding: 0 12px;
				background-color: rgba(145,50,50,.6);
				border: 2px solid transparent;
				box-sizing: content-box !important;
				-moz-transition: border .4s ease;
				-webkit-transition: border .4s ease;
				-o-transition: border .4s ease;
			}
			.steam_login:hover{
				border: 2px solid rgba(145,50,50,1);
			}
			.steam_loginDec{float: left;height: 28px;line-height: 28px;color: #fff;}
			.steam_loginImgDiv{float: left;height: 28px;width: 32px;overflow: hidden;margin-left: 4px;}
			.steam_loginImg{
				height: 28px;
				width: 32px;
				position: relative;
				left: -32px;
				border-right: 32px solid transparent;
				-webkit-filter: drop-shadow(rgb(255, 255, 255) 32px 0px);
				filter: drop-shadow(rgb(255, 255, 255) 32px 0px);
				background: url('/static/image/steamLogo.png') no-repeat center;
				background-size: cover;
				box-sizing: content-box !important;
				overflow: hidden;
			}
			.not-login-wrap{float: right;}
			.not-login-wrap:after,.account-wrap:after,.steam_login:after{content: ".";display: block;height: 0;clear: both;visibility: hidden}

			.footbar {padding-bottom:10px;}
			.footbar .c-divider {padding: 0 8px;}
			.footbar a.c-link {margin: 0 !important;transition: none;}
			.footbar a.c-link:hover {color: rgba(255, 255, 255, .3) !important;}


		</style>
        
        <link rel="stylesheet" type="text/css" href="./match_files/popModal.css">
        <script src="./match_files/hm.js"></script>
        <script async="" src="./match_files/analytics.js"></script>
        <script type="text/javascript" src="./match_files/sorttable.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/underscore-min.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/highcharts.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/highcharts-more.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/bootstrap_plus_select.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/dotamax_v1205.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/dotamax_extend_v20160201.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/popModal.js" charset="utf-8"></script>
        <script type="text/javascript" src="./match_files/common.js" charset="utf-8"></script>
        <script type="text/javascript">
		/* top nav right */
		$(function(){
			var menuTimer,
				$wrap = $("#top-nav .account-info-wrap"),
				$menu = $("#top-nav .account-info-wrap .menu-wrap"),
				$arrow = $("#top-nav .account-info-wrap .arrow i");
			$wrap.hover(function(){
				clearTimeout(menuTimer);
				$menu.fadeIn(200);
				$arrow.addClass("open");
			},function(){
				menuTimer = setTimeout(function(){
					$menu.fadeOut(200);
					$arrow.removeClass("open");
				},500);
			});
			$menu.mouseenter(function(){
				clearTimeout(menuTimer);
			});
		});
		var language = "zh-cn",
			account_type = "5";
		function bindCheck(){
			if(account_type==1||account_type==5){
				$("#notice-11").notifyModal({
					duration: -1,
					type: "notify"
				});
			}else{
				$("#notice-10").notifyModal({
					duration: -1,
					type: "notify"
				});
			}
		}
		</script>
        
        <script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] ||
				function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-47132172-1', 'dotamax.com');
			ga('send', 'pageview');
		</script>
        <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?575895fe09d48554a608faa5ef059555";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
        <link rel="stylesheet" type="text/css">
    </head>
    <body style="">
        <script type="text/javascript">
            function closeApp() {
                $("#android_app").hide();
                setCookie('androidHide','True');
            }
        </script>
    <div class="nav-head" style="background-color: rgb(27,27,40)">
        <div id="top-nav" class="nav-container">
            <a class="nav-logo" href="/">
                <img src="http://cdn.dota2.com/apps/dota2/images/nav/logo.png">
            </a>
            <a href="/home/">
                <li>Home</li>
            </a>
            <div class="nav-item-box">
                <a href="/hero/rate/">
                    <li class="h-active">Stats</li>
                </a>
                <ul class="nav-item-list">
                    <a href="/hero/rate/">
                        <li class="h-active">Hero</li>
                    </a>
                    <a href="/item/">
                        <li>Item</li>
                    </a>
                </ul>
            </div><!--  --><!--  -->
            <a href="/match/tour_famous_team_list/">
                <li>Player</li>
            </a>
            <a href="/player/">
                <li>Match</li>
            </a>
<!--
            <a href="/ladder/">
                <li>天梯</li>
            </a>
            <a href="/live/">
                <li>直播</li>
            </a>
            <a href="/app" id="appdownload">
                <li>APP</li>
            </a>
-->
            <a href="https://www.youtube.com/watch?v=cEM6725JmM4&t=40070s">
                <li style="background-color: #F7B018;text-align: center;
							background-image: -webkit-gradient(linear,left top,left bottom,from(#B78B36),to(#F7B018));
							background-image: -webkit-linear-gradient(top,#B78B36,#F7B018);
							background-image: -moz-linear-gradient(top,#B78B36,#F7B018);
							background-image: -o-linear-gradient(top,#B78B36,#F7B018);
							background-image: -ms-linear-gradient(top,#B78B36,#F7B018);
							background-image: linear-gradient(top,#B78B36,#F7B018);color: #fff">Youtube</li>
            </a>
            <script type="text/javascript">
					    var href = '';
					    if ((navigator.userAgent.match(/(pod|iPhone|iPod|ios|iPad)/i))) {
					        href = "https://itunes.apple.com/cn/app/id990892583";
					        document.getElementById("appdownload").setAttribute("href",href);

					    } else if ((navigator.userAgent.match(/(Android|android)/i))) {
					        href = "//cdn.max-c.com/app/Maxjia_release.apk";
					        document.getElementById("appdownload").setAttribute("href",href); 

					    } else {
					     
					    }
            </script>
<!--            <div class="nav-right"><div class="account-wrap"><div href="/bets/account/" class="account-info-wrap clearfix"><div class="arrow"><i class="glyphicon glyphicon-chevron-down"></i></div><div class="name ellipsis">MatRix</div><div class="avator"><img src="http://cdn.maxjia.com/avatar/d32ebb98f73b8010d68a449a89d3e458"></div><div class="menu-wrap" style="display: none;"><ul class="menu"><li><a href="/player/detail/180999306/"><i class="fa fa-pie-chart"></i>数据主页</a></li><li><a href="/bets/account/"><i class="glyphicon glyphicon-user"></i>竞猜主页</a></li><li><a href="/accounts/logout/?src=bets"><i class="glyphicon glyphicon-off"></i>注销账号</a></li></ul></div></div></div></div>-->
        </div>
    </div>
<!--
    <div class="nav-right">
        <div class="account-wrap">
            <div href="/bets/account/" class="account-info-wrap clearfix">
                <div class="arrow">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </div>
                <div class="name ellipsis">MatRix</div>
                <div class="avator">
                    <img src="./match_files/d32ebb98f73b8010d68a449a89d3e458">
                </div>
                <div class="menu-wrap" style="display: none;">
                    <ul class="menu">
                        <li>
                            <a href="http://dotamax.com/player/detail/180999306/"><i class="fa fa-pie-chart"></i>数据主页</a>
                        </li>
                        <li>
                            <a href="http://dotamax.com/bets/account/"><i class="glyphicon glyphicon-user"></i>竞猜主页</a>
                        </li>
                        <li>
                            <a href="http://dotamax.com/accounts/logout/?src=bets"><i class="glyphicon glyphicon-off"></i>注销账号</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
-->
<!--
    </div>
    </div>
-->
    <div class="maxtopmainbar">
        <div style="width:100%;height:160px;background: url('http://cdn.dota2.com/apps/dota2/images/blogfiles/bg_five_heroes.jpg') repeat-x;background-position: center;opacity: 0.3"></div>
        <div style="position: absolute;top:19px;width:100%;display: table;height: 130px;">
            <div style="margin-left: auto;margin-right: auto;position: relative;text-align: center;width:1080px;padding-left:20px;">
                <div class="new-box" style="width:300px;margin:0 auto;">
                    <div style="margin: 0px auto 5px auto;" class="circle-img">
                        <img src="https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg" style="width:90px;">
                    </div>
                    
                </div>
                <div style="position: absolute;left:10px;top:10px;font-size: 10px;color:#999;padding: 3px 8px;text-align: left;">
                    <div style="float: left;text-align: center;padding: 0px 10px;">
                        <span style="font-size: 14px;font-weight: bold;color: #ccc;">
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style_24x24" style="display: table;margin-top: 8px;">
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_weixin"></a>
                            </div>
                            <script type="text/javascript">
                                var jiathis_config={
                                url:"http://dotamax.com/player/detail/180999306/",
                                summary:" 我的Dota2个人主页, 小伙伴们快来看看吧！",
                                title:"只能祝他长生不老了 －dotamax.com",
                                shortUrl:false,
                                hideMore:false
                                }
                            </script>
                            <script type="text/javascript" src="./match_files/jia.js" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                        </span>
                    </div>
                </div>
                <div style="position: absolute;top:40px;left:20px;text-align: left;font-size: 28px;color:#fff;font-weight: 500;width:450px;"></div>
            </div>
        </div>
    </div>
        
    <div class="main-shadow-box" style="background-color: rgb(22,22,22)">
        <div class="main-container" style="margin-top:0px;margin-bottom:1px;padding-bottom:1px;">
            <div class="secoundbar-outer">
                <div style="padding-left:36%;padding-right: 30%; margin-left:0">
                    <ul class="secoundbar" style="margin-top: 20px;margin-bottom: 0px; width:50%">
                        
                        <a href="all_heroes.html">
                            <li>Hero List</li>
                        </a>
                        <a href="hero_stats.html">
                            <li class="active-s">Hero Stats</li>
                        </a>
                        
                    </ul>
                </div>
            </div><!-- Where content to be added -->
            <script language="javascript"> 
                if(top.location!==self.location){ 
                    top.location.href=self.location.href;
                } 
            </script>
            <script>
                function show_r20 () {
                    $(".recent_m").hide();
                    $(".recent_r20").show();
                    $(".left-select").removeClass("left-select-active");
                    $("#show_r20").addClass("left-select-active")

                }
                function show_r100 () {
                    $(".recent_m").hide();
                    $(".recent_r100").show();
                    $(".left-select").removeClass("left-select-active");
                    $("#show_r100").addClass("left-select-active")
                }
                function show_all () {
                    $(".recent_m").hide();
                    $(".recent_all").show();
                    $(".left-select").removeClass("left-select-active");
                    $("#show_all").addClass("left-select-active")
                }
                Highcharts.createElement('link', {
                    rel: 'stylesheet',
                    type: 'text/css'
                }, null, document.getElementsByTagName('head')[0]);

                Highcharts.theme = {
                    colors: ["rgb(223,223,223)"],
                    chart: {
                        height: 250,
                        width:300,
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                            stops: [
                                [0, 'rgb(18,18,18)'],
                                [1, 'rgb(18,18,18)']
                            ]
                        },
                        style: {
                        },
                        plotBorderColor: 'rgb(80,80,80)'
                    },
                     xAxis: {
                      gridLineColor: 'rgb(150,150,150)',
                      categories: ['KDA', '发育', '推进', '生存', '输出', '综合'],
                      labels: {
                         style: {
                            color: '#999'
                         }
                      },
                      lineColor: '#707073',
                      minorGridLineColor: '#505053',
                      tickColor: '#707073',
                      title: {
                         style: {
                            color: '#A0A0A3'

                         }
                      }
                   },
                   yAxis: {
                      gridLineColor: 'rgb(80,80,80)',
                      labels: {
                         formatter: function() {
                            return "";
                        }
                      },
                      lineColor: '#707073',
                      minorGridLineColor: 'rgb(40,40,40)',
                      tickColor: '#707073',
                      tickWidth: 1,
                      title: {
                         style: {
                            color: '#A0A0A3'
                         }
                      }
                   },
                    tooltip: {
                        backgroundColor: 'rgba(0, 0, 0, 0.85)',
                        style: {
                            color: '#F0F0F0'
                        }
                    },

                    plotOptions: {
                        series: {
                            dataLabels: {
                                color: '#B0B0B3'
                            },
                            marker: {
                                radius:0,
                                lineColor:'#fff',
                                states: {
                                    hover: {
                                        fillColor: '#fff',
                                        radius: 4
                                    }
                                }
                            },
                        },
                        boxplot: {
                            fillColor: '#505053'
                        },
                        candlestick: {
                        },
                        errorbar: {
                        }
                    },
                    legend: {
                        enabled: false,
                    },
                };

                Highcharts.setOptions(Highcharts.theme);
                $(function () {

                var colors = Highcharts.getOptions().colors,
                    categories = ['all','N', 'H', 'VH'],
                    data = [{
                            y: 55.11,
                            color: colors[0]
                        }, {
                            y: 21.63,
                            color: colors[1]
                        }, {
                            y: 11.94,
                            color: colors[2]
                        }, {
                            y: 7.15,
                            color: colors[3]
                        }];

                function setChart(name, categories, data, color) {
                chart.xAxis[0].setCategories(categories, false);
                chart.series[0].remove(false);
                chart.addSeries({
                    color: color 
                }, false);
                chart.redraw();
                }

                var chart = $('#container').highcharts({
                    chart: {
                        polar: true,
                        type: 'area'
                    },
                    title: {
                        text: ''
                    },
                    pane: {
                        size: '85%'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {

                        tickmarkPlacement: 'on',
                        lineWidth: 0
                    },

                    yAxis: {
                        gridLineInterpolation: 'polygon',
                        lineWidth: 0,
                        min: 0,
                        max: 100,
                        minorTickInterval: 50
                    },

                    tooltip: {
                        borderWidth:0,
                        backgroundColor: '#333',
                        formatter: function() {
                            var point = this.point,
                                s = this.x +'能力值: <b style="color:#ccc;font-size:12px;">'+ this.y +'<br/>';
                            return s;
                        }
                    },
                    series: [{
                        name: 'Allocated Budget',
                        data: [50.0, 60.8, 65.3, 52.1, 40.2, 52.0],
                        fillColor: 'rgba(70,70,70,0.7)',
                        fillOpacity: 0.8
                    }],
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    }
                })
                var chart = $('#container_r20').highcharts({
                        chart: {
                            polar: true,
                            type: 'area'
                        },
                        title: {
                            text: ''
                        },
                        pane: {
                            size: '85%'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {

                            tickmarkPlacement: 'on',
                            lineWidth: 0
                        },

                        yAxis: {
                            gridLineInterpolation: 'polygon',
                            lineWidth: 0,
                            min: 0,
                            max: 100,
                            minorTickInterval: 50
                        },

                        tooltip: {
                            borderWidth:0,
                            backgroundColor: '#333',
                            formatter: function() {
                                var point = this.point,
                                    s = this.x +'能力值: <b style="color:#ccc;font-size:12px;">'+ this.y +'<br/>';
                                return s;
                            }
                        },
                        series: [{
                            name: 'Allocated Budget',
                            data: [26.9, 31.8, 67.5, 26.2, 44.3, 36.9],
                            fillColor: 'rgba(70,70,70,0.7)',
                            fillOpacity: 0.8
                        }],
                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        }
                    })
                var chart = $('#container_r100').highcharts({
                        chart: {
                            polar: true,
                            type: 'area'
                        },
                        title: {
                            text: ''
                        },
                        pane: {
                            size: '85%'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {

                            tickmarkPlacement: 'on',
                            lineWidth: 0
                        },

                        yAxis: {
                            gridLineInterpolation: 'polygon',
                            lineWidth: 0,
                            min: 0,
                            max: 100,
                            minorTickInterval: 50
                        },

                        tooltip: {
                            borderWidth:0,
                            backgroundColor: '#333',
                            formatter: function() {
                                var point = this.point,
                                    s = this.x +'能力值: <b style="color:#ccc;font-size:12px;">'+ this.y +'<br/>';
                                return s;
                            }
                        },
                        series: [{
                            name: 'Allocated Budget',
                            data: [53.3, 36.5, 67.0, 39.1, 51.8, 48.4],
                            fillColor: 'rgba(70,70,70,0.7)',
                            fillOpacity: 0.8
                        }],
                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        }
                    })
                    .highcharts(); // return chart
                });             
            </script>
            <div class="container xuning-box" style="margin-top:0px;">
                <div style="float:left; width:100%;">
                    <div class="flat-grey-box" style="width:100%;padding-top: 40px;padding-left: 50px">
                        <table class="sortable table-list" style="width: 95%;margin:20px auto 20px auto;">
                            <thead>
                                <tr>
                                    <th style="width:30%;" class="">Hero</th>
                                    <th style="width:30%;" class=" sorttable_sorted_reverse">Win Rate</th>
                                    <th style="width:40%;" class="">Matches Played</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr onclick="DoNav(&#39;/hero/detail/centaur&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/centaur_hphover.png"><span class="hero-name-list">Centaur Warrunner</span></td><td style="width: 40%"><div style="height: 10px">56.51%</div><div class="segment segment-green" style="width:56.5106623773%;"></div></td><td style="width: 30%"><div style="height: 10px">2,385,725</div><div class="segment segment-gold" style="width:19.8380344611%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/riki&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/riki_hphover.png"><span class="hero-name-list">Riki</span></td><td style="width: 40%"><div style="height: 10px">55.67%</div><div class="segment segment-green" style="width:55.6730523665%;"></div></td><td style="width: 30%"><div style="height: 10px">5,454,427</div><div class="segment segment-gold" style="width:45.35523197%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/chaos_knight&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/chaos_knight_hphover.png"><span class="hero-name-list">Chaos Knight</span></td><td style="width: 40%"><div style="height: 10px">55.60%</div><div class="segment segment-green" style="width:55.5976990154%;"></div></td><td style="width: 30%"><div style="height: 10px">2,068,332</div><div class="segment segment-gold" style="width:17.1988144036%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/zuus&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/zuus_hphover.png"><span class="hero-name-list">Zeus</span></td><td style="width: 40%"><div style="height: 10px">54.94%</div><div class="segment segment-green" style="width:54.9380609117%;"></div></td><td style="width: 30%"><div style="height: 10px">4,711,080</div><div class="segment segment-gold" style="width:39.1740738724%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/ursa&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/ursa_hphover.png"><span class="hero-name-list">Ursa</span></td><td style="width: 40%"><div style="height: 10px">54.39%</div><div class="segment segment-green" style="width:54.3903203102%;"></div></td><td style="width: 30%"><div style="height: 10px">3,220,847</div><div class="segment segment-gold" style="width:26.7823298075%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/axe&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/axe_hphover.png"><span class="hero-name-list">Axe</span></td><td style="width: 40%"><div style="height: 10px">54.11%</div><div class="segment segment-green" style="width:54.1143516331%;"></div></td><td style="width: 30%"><div style="height: 10px">5,860,887</div><div class="segment segment-gold" style="width:48.7350714264%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/visage&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/visage_hphover.png"><span class="hero-name-list">Visage</span></td><td style="width: 40%"><div style="height: 10px">53.96%</div><div class="segment segment-green" style="width:53.960388109%;"></div></td><td style="width: 30%"><div style="height: 10px">374,534</div><div class="segment segment-gold" style="width:3.11436498291%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/vengefulspirit&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/vengefulspirit_hphover.png"><span class="hero-name-list">Vengeful Spirit</span></td><td style="width: 40%"><div style="height: 10px">53.85%</div><div class="segment segment-green" style="width:53.8473258955%;"></div></td><td style="width: 30%"><div style="height: 10px">2,028,006</div><div class="segment segment-gold" style="width:16.863491356%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/necrolyte&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/necrolyte_hphover.png"><span class="hero-name-list">Necrophos</span></td><td style="width: 40%"><div style="height: 10px">53.63%</div><div class="segment segment-green" style="width:53.6285450081%;"></div></td><td style="width: 30%"><div style="height: 10px">3,920,125</div><div class="segment segment-gold" style="width:32.5970406656%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/lich&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/lich_hphover.png"><span class="hero-name-list">Lich</span></td><td style="width: 40%"><div style="height: 10px">53.58%</div><div class="segment segment-green" style="width:53.5815480829%;"></div></td><td style="width: 30%"><div style="height: 10px">1,976,380</div><div class="segment segment-gold" style="width:16.4342053457%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/spirit_breaker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/spirit_breaker_hphover.png"><span class="hero-name-list">Spirit Breaker</span></td><td style="width: 40%"><div style="height: 10px">53.52%</div><div class="segment segment-green" style="width:53.519957327%;"></div></td><td style="width: 30%"><div style="height: 10px">3,462,613</div><div class="segment segment-gold" style="width:28.7926881847%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/crystal_maiden&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/crystal_maiden_hphover.png"><span class="hero-name-list">Crystal Maiden</span></td><td style="width: 40%"><div style="height: 10px">53.29%</div><div class="segment segment-green" style="width:53.2880250851%;"></div></td><td style="width: 30%"><div style="height: 10px">3,666,882</div><div class="segment segment-gold" style="width:30.4912475163%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/undying&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/undying_hphover.png"><span class="hero-name-list">Undying</span></td><td style="width: 40%"><div style="height: 10px">53.27%</div><div class="segment segment-green" style="width:53.2701891462%;"></div></td><td style="width: 30%"><div style="height: 10px">1,606,482</div><div class="segment segment-gold" style="width:13.3583901234%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/shadow_shaman&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/shadow_shaman_hphover.png"><span class="hero-name-list">Shadow Shaman</span></td><td style="width: 40%"><div style="height: 10px">53.18%</div><div class="segment segment-green" style="width:53.1821065206%;"></div></td><td style="width: 30%"><div style="height: 10px">3,805,498</div><div class="segment segment-gold" style="width:31.6438820341%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/abaddon&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/abaddon_hphover.png"><span class="hero-name-list">Abaddon</span></td><td style="width: 40%"><div style="height: 10px">52.98%</div><div class="segment segment-green" style="width:52.984336518%;"></div></td><td style="width: 30%"><div style="height: 10px">662,241</div><div class="segment segment-gold" style="width:5.5067368534%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/pudge&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/pudge_hphover.png"><span class="hero-name-list">Pudge</span></td><td style="width: 40%"><div style="height: 10px">52.91%</div><div class="segment segment-green" style="width:52.9110266368%;"></div></td><td style="width: 30%"><div style="height: 10px">12,026,015</div><div class="segment segment-gold" style="width:100.0%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/ancient_apparition&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/ancient_apparition_hphover.png"><span class="hero-name-list">Ancient Apparition</span></td><td style="width: 40%"><div style="height: 10px">52.89%</div><div class="segment segment-green" style="width:52.8883903142%;"></div></td><td style="width: 30%"><div style="height: 10px">1,434,311</div><div class="segment segment-gold" style="width:11.926735498%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/skeleton_king&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/skeleton_king_hphover.png"><span class="hero-name-list">Wraith King</span></td><td style="width: 40%"><div style="height: 10px">52.85%</div><div class="segment segment-green" style="width:52.8467817467%;"></div></td><td style="width: 30%"><div style="height: 10px">2,813,405</div><div class="segment segment-gold" style="width:23.3943247202%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/warlock&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/warlock_hphover.png"><span class="hero-name-list">Warlock</span></td><td style="width: 40%"><div style="height: 10px">52.84%</div><div class="segment segment-green" style="width:52.8409062468%;"></div></td><td style="width: 30%"><div style="height: 10px">998,889</div><div class="segment segment-gold" style="width:8.30606813645%;"></div>
        </td></tr><tr onclick="DoNav(&#39;/hero/detail/spectre&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/spectre_hphover.png"><span class="hero-name-list">Spectre</span></td><td style="width: 40%"><div style="height: 10px">52.68%</div><div class="segment segment-green" style="width:52.6821547143%;"></div></td><td style="width: 30%"><div style="height: 10px">2,740,651</div><div class="segment segment-gold" style="width:22.7893529153%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/ogre_magi&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/ogre_magi_hphover.png"><span class="hero-name-list">Ogre Magi</span></td><td style="width: 40%"><div style="height: 10px">52.58%</div><div class="segment segment-green" style="width:52.5777246153%;"></div></td><td style="width: 30%"><div style="height: 10px">3,823,081</div><div class="segment segment-gold" style="width:31.7900900672%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/meepo&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/meepo_hphover.png"><span class="hero-name-list">Meepo</span></td><td style="width: 40%"><div style="height: 10px">52.55%</div><div class="segment segment-green" style="width:52.5529144222%;"></div></td><td style="width: 30%"><div style="height: 10px">1,522,789</div><div class="segment segment-gold" style="width:12.6624571814%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/terrorblade&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/terrorblade_hphover.png"><span class="hero-name-list">Terrorblade</span></td><td style="width: 40%"><div style="height: 10px">52.49%</div><div class="segment segment-green" style="width:52.4922842926%;"></div></td><td style="width: 30%"><div style="height: 10px">1,872,479</div><div class="segment segment-gold" style="width:15.570236691%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/phoenix&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/phoenix_hphover.png"><span class="hero-name-list">Phoenix</span></td><td style="width: 40%"><div style="height: 10px">52.37%</div><div class="segment segment-green" style="width:52.3674217881%;"></div></td><td style="width: 30%"><div style="height: 10px">2,507,897</div><div class="segment segment-gold" style="width:20.8539320797%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/elder_titan&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/elder_titan_hphover.png"><span class="hero-name-list">Elder Titan</span></td><td style="width: 40%"><div style="height: 10px">52.10%</div><div class="segment segment-green" style="width:52.1013190856%;"></div></td><td style="width: 30%"><div style="height: 10px">468,658</div><div class="segment segment-gold" style="width:3.89703488645%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/abyssal_underlord&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/abyssal_underlord_hphover.png"><span class="hero-name-list">Underlord</span></td><td style="width: 40%"><div style="height: 10px">51.91%</div><div class="segment segment-green" style="width:51.909160338%;"></div></td><td style="width: 30%"><div style="height: 10px">748,968</div><div class="segment segment-gold" style="width:6.22789843518%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/bloodseeker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/bloodseeker_hphover.png"><span class="hero-name-list">Bloodseeker</span></td><td style="width: 40%"><div style="height: 10px">51.86%</div><div class="segment segment-green" style="width:51.8587410475%;"></div></td><td style="width: 30%"><div style="height: 10px">3,800,906</div><div class="segment segment-gold" style="width:31.6056981469%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/silencer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/silencer_hphover.png"><span class="hero-name-list">Silencer</span></td><td style="width: 40%"><div style="height: 10px">51.83%</div><div class="segment segment-green" style="width:51.8320935264%;"></div></td><td style="width: 30%"><div style="height: 10px">3,106,801</div><div class="segment segment-gold" style="width:25.834002369%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/phantom_assassin&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/phantom_assassin_hphover.png"><span class="hero-name-list">Phantom Assassin</span></td><td style="width: 40%"><div style="height: 10px">51.67%</div><div class="segment segment-green" style="width:51.6693928996%;"></div></td><td style="width: 30%"><div style="height: 10px">6,405,053</div><div class="segment segment-gold" style="width:53.2599784717%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/antimage&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/antimage_hphover.png"><span class="hero-name-list">Anti-Mage</span></td><td style="width: 40%"><div style="height: 10px">51.57%</div><div class="segment segment-green" style="width:51.56701482%;"></div></td><td style="width: 30%"><div style="height: 10px">3,999,675</div><div class="segment segment-gold" style="width:33.258523293%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/drow_ranger&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/drow_ranger_hphover.png"><span class="hero-name-list">Drow Ranger</span></td><td style="width: 40%"><div style="height: 10px">51.23%</div><div class="segment segment-green" style="width:51.2315091188%;"></div></td><td style="width: 30%"><div style="height: 10px">3,727,175</div><div class="segment segment-gold" style="width:30.9926022876%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/mirana&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/mirana_hphover.png"><span class="hero-name-list">Mirana</span></td><td style="width: 40%"><div style="height: 10px">51.14%</div><div class="segment segment-green" style="width:51.1362629946%;"></div></td><td style="width: 30%"><div style="height: 10px">4,460,015</div><div class="segment segment-gold" style="width:37.0863914605%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/brewmaster&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/brewmaster_hphover.png"><span class="hero-name-list">Brewmaster</span></td><td style="width: 40%"><div style="height: 10px">50.86%</div><div class="segment segment-green" style="width:50.8626895412%;"></div></td><td style="width: 30%"><div style="height: 10px">694,572</div><div class="segment segment-gold" style="width:5.77557902597%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/alchemist&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/alchemist_hphover.png"><span class="hero-name-list">Alchemist</span></td><td style="width: 40%"><div style="height: 10px">50.81%</div><div class="segment segment-green" style="width:50.8086952716%;"></div></td><td style="width: 30%"><div style="height: 10px">1,919,388</div><div class="segment segment-gold" style="width:15.9602994009%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/treant&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/treant_hphover.png"><span class="hero-name-list">Treant Protector</span></td><td style="width: 40%"><div style="height: 10px">50.79%</div><div class="segment segment-green" style="width:50.7873645625%;"></div></td><td style="width: 30%"><div style="height: 10px">1,180,711</div><div class="segment segment-gold" style="width:9.81797378433%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/enigma&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/enigma_hphover.png"><span class="hero-name-list">Enigma</span></td><td style="width: 40%"><div style="height: 10px">50.75%</div><div class="segment segment-green" style="width:50.7459057095%;"></div></td><td style="width: 30%"><div style="height: 10px">1,077,415</div><div class="segment segment-gold" style="width:8.95903589011%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/sven&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/sven_hphover.png"><span class="hero-name-list">Sven</span></td><td style="width: 40%"><div style="height: 10px">50.70%</div><div class="segment segment-green" style="width:50.7039871963%;"></div></td><td style="width: 30%"><div style="height: 10px">2,034,412</div><div class="segment segment-gold" style="width:16.9167592091%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/juggernaut&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/juggernaut_hphover.png"><span class="hero-name-list">Juggernaut</span></td><td style="width: 40%"><div style="height: 10px">50.63%</div><div class="segment segment-green" style="width:50.6280841812%;"></div></td><td style="width: 30%"><div style="height: 10px">4,305,235</div><div class="segment segment-gold" style="width:35.7993483294%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/earthshaker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/earthshaker_hphover.png"><span class="hero-name-list">Earthshaker</span></td>
    <td style="width: 40%"><div style="height: 10px">50.61%</div><div class="segment segment-green" style="width:50.6104217793%;">
    </div>
    </td>
    <td style="width: 30%"><div style="height: 10px">6,274,514</div><div class="segment segment-gold" style="width:52.1745066841%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/invoker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/invoker_hphover.png"><span class="hero-name-list">Invoker</span></td><td style="width: 40%"><div style="height: 10px">50.60%</div><div class="segment segment-green" style="width:50.5999077674%;"></div></td><td style="width: 30%"><div style="height: 10px">7,580,832</div><div class="segment segment-gold" style="width:63.0369411646%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/dragon_knight&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/dragon_knight_hphover.png"><span class="hero-name-list">Dragon Knight</span></td><td style="width: 40%"><div style="height: 10px">50.54%</div><div class="segment segment-green" style="width:50.5366687398%;"></div></td><td style="width: 30%"><div style="height: 10px">1,448,659</div><div class="segment segment-gold" style="width:12.0460435148%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/broodmother&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/broodmother_hphover.png"><span class="hero-name-list">Broodmother</span></td><td style="width: 40%"><div style="height: 10px">50.53%</div><div class="segment segment-green" style="width:50.533754284%;"></div></td><td style="width: 30%"><div style="height: 10px">777,605</div><div class="segment segment-gold" style="width:6.46602386576%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/luna&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/luna_hphover.png"><span class="hero-name-list">Luna</span></td><td style="width: 40%"><div style="height: 10px">50.28%</div><div class="segment segment-green" style="width:50.2787313331%;"></div></td><td style="width: 30%"><div style="height: 10px">2,008,565</div><div class="segment segment-gold" style="width:16.7018334835%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/bristleback&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/bristleback_hphover.png"><span class="hero-name-list">Bristleback</span></td><td style="width: 40%"><div style="height: 10px">50.09%</div><div class="segment segment-green" style="width:50.0946787553%;"></div></td><td style="width: 30%"><div style="height: 10px">3,717,307</div><div class="segment segment-gold" style="width:30.9105468437%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/dazzle&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/dazzle_hphover.png"><span class="hero-name-list">Dazzle</span></td><td style="width: 40%"><div style="height: 10px">49.97%</div><div class="segment segment-green" style="width:49.9654572804%;"></div></td><td style="width: 30%"><div style="height: 10px">1,150,749</div><div class="segment segment-gold" style="width:9.56883057272%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/rattletrap&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/rattletrap_hphover.png"><span class="hero-name-list">Clockwerk</span></td><td style="width: 40%"><div style="height: 10px">49.90%</div><div class="segment segment-green" style="width:49.9042768069%;"></div></td><td style="width: 30%"><div style="height: 10px">910,960</div><div class="segment segment-gold" style="width:7.57491155632%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/tidehunter&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/tidehunter_hphover.png"><span class="hero-name-list">Tidehunter</span></td><td style="width: 40%"><div style="height: 10px">49.85%</div><div class="segment segment-green" style="width:49.8542156488%;"></div></td><td style="width: 30%"><div style="height: 10px">892,757</div><div class="segment segment-gold" style="width:7.42354803316%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/storm_spirit&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/storm_spirit_hphover.png"><span class="hero-name-list">Storm Spirit</span></td><td style="width: 40%"><div style="height: 10px">49.77%</div><div class="segment segment-green" style="width:49.7688514387%;"></div></td><td style="width: 30%"><div style="height: 10px">4,177,400</div><div class="segment segment-gold" style="width:34.7363611304%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/nyx_assassin&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/nyx_assassin_hphover.png"><span class="hero-name-list">Nyx Assassin</span></td><td style="width: 40%"><div style="height: 10px">49.57%</div><div class="segment segment-green" style="width:49.5668713906%;"></div></td><td style="width: 30%"><div style="height: 10px">1,396,352</div><div class="segment segment-gold" style="width:11.6110947808%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/clinkz&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/clinkz_hphover.png"><span class="hero-name-list">Clinkz</span></td><td style="width: 40%"><div style="height: 10px">49.43%</div><div class="segment segment-green" style="width:49.4303137353%;"></div></td><td style="width: 30%"><div style="height: 10px">2,402,726</div><div class="segment segment-gold" style="width:19.9794029859%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/slark&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/slark_hphover.png"><span class="hero-name-list">Slark</span></td><td style="width: 40%"><div style="height: 10px">49.29%</div><div class="segment segment-green" style="width:49.286202157%;"></div></td><td style="width: 30%"><div style="height: 10px">2,964,775</div><div class="segment segment-gold" style="width:24.6530126563%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/lycan&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/lycan_hphover.png"><span class="hero-name-list">Lycan</span></td><td style="width: 40%"><div style="height: 10px">49.22%</div><div class="segment segment-green" style="width:49.2248181198%;"></div></td><td style="width: 30%"><div style="height: 10px">325,214</div><div class="segment segment-gold" style="width:2.7042540692%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/jakiro&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/jakiro_hphover.png"><span class="hero-name-list">Jakiro</span></td><td style="width: 40%"><div style="height: 10px">49.14%</div><div class="segment segment-green" style="width:49.138019673%;"></div></td><td style="width: 30%"><div style="height: 10px">1,429,673</div><div class="segment segment-gold" style="width:11.8881691067%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/skywrath_mage&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/skywrath_mage_hphover.png"><span class="hero-name-list">Skywrath Mage</span></td><td style="width: 40%"><div style="height: 10px">49.00%</div><div class="segment segment-green" style="width:49.0044250298%;"></div></td><td style="width: 30%"><div style="height: 10px">1,762,700</div><div class="segment segment-gold" style="width:14.6573906652%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/faceless_void&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/faceless_void_hphover.png"><span class="hero-name-list">Faceless Void</span></td><td style="width: 40%"><div style="height: 10px">48.91%</div><div class="segment segment-green" style="width:48.9090903511%;"></div></td><td style="width: 30%"><div style="height: 10px">3,909,948</div><div class="segment segment-gold" style="width:32.5124157919%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/weaver&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/weaver_hphover.png"><span class="hero-name-list">Weaver</span></td><td style="width: 40%"><div style="height: 10px">48.77%</div><div class="segment segment-green" style="width:48.7702376701%;"></div></td><td style="width: 30%"><div style="height: 10px">3,194,723</div><div class="segment segment-gold" style="width:26.565100742%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/sniper&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/sniper_hphover.png"><span class="hero-name-list">Sniper</span></td><td style="width: 40%"><div style="height: 10px">48.71%</div><div class="segment segment-green" style="width:48.7072012811%;"></div></td><td style="width: 30%"><div style="height: 10px">6,457,115</div><div class="segment segment-gold" style="width:53.6928899557%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/winter_wyvern&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/winter_wyvern_hphover.png"><span class="hero-name-list">Winter Wyvern</span></td><td style="width: 40%"><div style="height: 10px">48.67%</div><div class="segment segment-green" style="width:48.6698452412%;"></div></td><td style="width: 30%"><div style="height: 10px">1,359,729</div><div class="segment segment-gold" style="width:11.306563313%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/omniknight&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/omniknight_hphover.png"><span class="hero-name-list">Omniknight</span></td><td style="width: 40%">
    <div style="height: 10px">48.63%</div><div class="segment segment-green" style="width:48.6250074252%;"></div></td><td style="width: 30%"><div style="height: 10px">656,549</div><div class="segment segment-gold" style="width:5.45940612913%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/ember_spirit&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/ember_spirit_hphover.png"><span class="hero-name-list">Ember Spirit</span></td><td style="width: 40%"><div style="height: 10px">48.54%</div><div class="segment segment-green" style="width:48.5433084479%;"></div></td><td style="width: 30%"><div style="height: 10px">2,255,934</div><div class="segment segment-gold" style="width:18.7587825227%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/lion&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/lion_hphover.png"><span class="hero-name-list">Lion</span></td><td style="width: 40%"><div style="height: 10px">48.37%</div><div class="segment segment-green" style="width:48.3732819043%;"></div></td><td style="width: 30%"><div style="height: 10px">3,429,451</div><div class="segment segment-gold" style="width:28.5169359925%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/phantom_lancer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/phantom_lancer_hphover.png"><span class="hero-name-list">Phantom Lancer</span></td><td style="width: 40%"><div style="height: 10px">48.33%</div><div class="segment segment-green" style="width:48.3334817669%;"></div></td><td style="width: 30%"><div style="height: 10px">2,560,068</div><div class="segment segment-gold" style="width:21.2877499321%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/witch_doctor&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/witch_doctor_hphover.png"><span class="hero-name-list">Witch Doctor</span></td><td style="width: 40%"><div style="height: 10px">48.28%</div><div class="segment segment-green" style="width:48.2799836069%;"></div></td><td style="width: 30%"><div style="height: 10px">1,898,354</div><div class="segment segment-gold" style="width:15.7853952452%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/grimstroke&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/grimstroke_hphover.png"><span class="hero-name-list">Grimstroke</span></td><td style="width: 40%"><div style="height: 10px">48.18%</div><div class="segment segment-green" style="width:48.1790846117%;"></div></td><td style="width: 30%"><div style="height: 10px">2,882,012</div><div class="segment segment-gold" style="width:23.9648129493%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/troll_warlord&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/troll_warlord_hphover.png"><span class="hero-name-list">Troll Warlord</span></td><td style="width: 40%"><div style="height: 10px">48.13%</div><div class="segment segment-green" style="width:48.1336949207%;"></div></td><td style="width: 30%"><div style="height: 10px">1,731,255</div><div class="segment segment-gold" style="width:14.3959158541%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/arc_warden&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/arc_warden_hphover.png"><span class="hero-name-list">Arc Warden</span></td><td style="width: 40%"><div style="height: 10px">47.93%</div><div class="segment segment-green" style="width:47.9256148579%;"></div></td><td style="width: 30%"><div style="height: 10px">752,247</div><div class="segment segment-gold" style="width:6.25516432501%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/venomancer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/venomancer_hphover.png"><span class="hero-name-list">Venomancer</span></td><td style="width: 40%"><div style="height: 10px">47.91%</div><div class="segment segment-green" style="width:47.9117533538%;"></div></td><td style="width: 30%"><div style="height: 10px">1,432,757</div><div class="segment segment-gold" style="width:11.9138135118%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/dark_seer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/dark_seer_hphover.png"><span class="hero-name-list">Dark Seer</span></td><td style="width: 40%"><div style="height: 10px">47.86%</div><div class="segment segment-green" style="width:47.8632821568%;"></div></td><td style="width: 30%"><div style="height: 10px">348,923</div><div class="segment segment-gold" style="width:2.90140166963%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/kunkka&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/kunkka_hphover.png"><span class="hero-name-list">Kunkka</span></td><td style="width: 40%"><div style="height: 10px">47.58%</div><div class="segment segment-green" style="width:47.578062435%;"></div></td><td style="width: 30%"><div style="height: 10px">2,674,718</div><div class="segment segment-gold" style="width:22.2410998157%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/tinker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/tinker_hphover.png"><span class="hero-name-list">Tinker</span></td><td style="width: 40%"><div style="height: 10px">47.48%</div><div class="segment segment-green" style="width:47.4816982578%;"></div></td><td style="width: 30%"><div style="height: 10px">3,779,968</div><div class="segment segment-gold" style="width:31.4315922606%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/legion_commander&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/legion_commander_hphover.png"><span class="hero-name-list">Legion Commander</span></td><td style="width: 40%"><div style="height: 10px">47.44%</div><div class="segment segment-green" style="width:47.4358496994%;"></div></td><td style="width: 30%"><div style="height: 10px">4,323,947</div><div class="segment segment-gold" style="width:35.9549443436%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/slardar&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/slardar_hphover.png"><span class="hero-name-list">Slardar</span></td><td style="width: 40%"><div style="height: 10px">47.44%</div><div class="segment segment-green" style="width:47.4440690861%;"></div></td><td style="width: 30%"><div style="height: 10px">1,388,007</div><div class="segment segment-gold" style="width:11.5417035485%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/morphling&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/morphling_hphover.png"><span class="hero-name-list">Morphling</span></td><td style="width: 40%"><div style="height: 10px">47.38%</div><div class="segment segment-green" style="width:47.3781546306%;"></div></td><td style="width: 30%"><div style="height: 10px">2,124,496</div><div class="segment segment-gold" style="width:17.6658352746%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/techies&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/techies_hphover.png"><span class="hero-name-list">Techies</span></td><td style="width: 40%"><div style="height: 10px">47.37%</div><div class="segment segment-green" style="width:47.3699863181%;"></div></td><td style="width: 30%"><div style="height: 10px">1,338,263</div><div class="segment segment-gold" style="width:11.1280669449%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/dark_willow&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/dark_willow_hphover.png"><span class="hero-name-list">Dark Willow</span></td><td style="width: 40%"><div style="height: 10px">47.31%</div><div class="segment segment-green" style="width:47.3054352212%;"></div></td><td style="width: 30%"><div style="height: 10px">1,392,878</div><div class="segment segment-gold" style="width:11.5822074062%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/keeper_of_the_light&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/keeper_of_the_light_hphover.png"><span class="hero-name-list">Keeper of the Light</span></td><td style="width: 40%"><div style="height: 10px">47.22%</div><div class="segment segment-green" style="width:47.218521785%;"></div></td><td style="width: 30%"><div style="height: 10px">812,967</div><div class="segment segment-gold" style="width:6.76006973216%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/medusa&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/medusa_hphover.png"><span class="hero-name-list">Medusa</span></td><td style="width: 40%"><div style="height: 10px">47.08%</div><div class="segment segment-green" style="width:47.0784015038%;"></div></td><td style="width: 30%"><div style="height: 10px">1,242,693</div><div class="segment segment-gold" style="width:10.3333731082%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/windrunner&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/windrunner_hphover.png"><span class="hero-name-list">Windranger</span></td><td style="width: 40%"><div style="height: 10px">46.99%</div><div class="segment segment-green" style="width:46.9914423102%;"></div></td><td style="width: 30%"><div style="height: 10px">4,256,990</div><div class="segment segment-gold" style="width:35.3981763701%;"></div></td></tr>
    <tr onclick="DoNav(&#39;/hero/detail/huskar&#39;)" style="cursor: pointer;">
    <td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/huskar_hphover.png"><span class="hero-name-list">Huskar</span></td><td style="width: 40%"><div style="height: 10px">46.97%</div><div class="segment segment-green" style="width:46.9740241784%;"></div></td><td style="width: 30%"><div style="height: 10px">1,851,568</div><div class="segment segment-gold" style="width:15.396355318%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/viper&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/viper_hphover.png"><span class="hero-name-list">Viper</span></td><td style="width: 40%"><div style="height: 10px">46.78%</div><div class="segment segment-green" style="width:46.7758202463%;"></div></td><td style="width: 30%"><div style="height: 10px">1,850,176</div><div class="segment segment-gold" style="width:15.3847804115%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/magnataur&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/magnataur_hphover.png"><span class="hero-name-list">Magnus</span></td><td style="width: 40%"><div style="height: 10px">46.68%</div><div class="segment segment-green" style="width:46.6764017057%;"></div></td><td style="width: 30%"><div style="height: 10px">1,286,076</div><div class="segment segment-gold" style="width:10.6941160476%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/oracle&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/oracle_hphover.png"><span class="hero-name-list">Oracle</span></td><td style="width: 40%"><div style="height: 10px">46.57%</div><div class="segment segment-green" style="width:46.5673620667%;"></div></td><td style="width: 30%"><div style="height: 10px">497,795</div><div class="segment segment-gold" style="width:4.13931797025%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/pugna&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/pugna_hphover.png"><span class="hero-name-list">Pugna</span></td><td style="width: 40%"><div style="height: 10px">46.56%</div><div class="segment segment-green" style="width:46.5604009885%;"></div></td><td style="width: 30%"><div style="height: 10px">1,434,455</div><div class="segment segment-gold" style="width:11.9279329021%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/night_stalker&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/night_stalker_hphover.png"><span class="hero-name-list">Night Stalker</span></td><td style="width: 40%"><div style="height: 10px">46.50%</div><div class="segment segment-green" style="width:46.4966932322%;"></div></td><td style="width: 30%"><div style="height: 10px">407,044</div><div class="segment segment-gold" style="width:3.38469559534%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/shadow_demon&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/shadow_demon_hphover.png"><span class="hero-name-list">Shadow Demon</span></td><td style="width: 40%"><div style="height: 10px">46.47%</div><div class="segment segment-green" style="width:46.4687566504%;"></div></td><td style="width: 30%"><div style="height: 10px">662,557</div><div class="segment segment-gold" style="width:5.50936449023%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/bane&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/bane_hphover.png"><span class="hero-name-list">Bane</span></td><td style="width: 40%"><div style="height: 10px">46.44%</div><div class="segment segment-green" style="width:46.4390967826%;"></div></td><td style="width: 30%"><div style="height: 10px">809,949</div><div class="segment segment-gold" style="width:6.73497413732%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/monkey_king&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/monkey_king_hphover.png"><span class="hero-name-list">Monkey King</span></td><td style="width: 40%"><div style="height: 10px">46.35%</div><div class="segment segment-green" style="width:46.354861034%;"></div></td><td style="width: 30%"><div style="height: 10px">4,123,958</div><div class="segment segment-gold" style="width:34.2919745236%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/disruptor&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/disruptor_hphover.png"><span class="hero-name-list">Disruptor</span></td><td style="width: 40%"><div style="height: 10px">46.20%</div><div class="segment segment-green" style="width:46.2000239494%;"></div></td><td style="width: 30%"><div style="height: 10px">952,006</div><div class="segment segment-gold" style="width:7.91622162454%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/doom_bringer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/doom_bringer_hphover.png"><span class="hero-name-list">Doom</span></td><td style="width: 40%"><div style="height: 10px">45.44%</div><div class="segment segment-green" style="width:45.44320866%;"></div></td><td style="width: 30%"><div style="height: 10px">848,404</div><div class="segment segment-gold" style="width:7.05473924654%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/queenofpain&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/queenofpain_hphover.png"><span class="hero-name-list">Queen of Pain</span></td><td style="width: 40%"><div style="height: 10px">45.36%</div><div class="segment segment-green" style="width:45.3629777249%;"></div></td><td style="width: 30%"><div style="height: 10px">1,507,379</div><div class="segment segment-gold" style="width:12.5343183091%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/bounty_hunter&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/bounty_hunter_hphover.png"><span class="hero-name-list">Bounty Hunter</span></td><td style="width: 40%"><div style="height: 10px">45.33%</div><div class="segment segment-green" style="width:45.3349026935%;"></div></td><td style="width: 30%"><div style="height: 10px">1,569,217</div><div class="segment segment-gold" style="width:13.0485202289%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/enchantress&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/enchantress_hphover.png"><span class="hero-name-list">Enchantress</span></td><td style="width: 40%"><div style="height: 10px">45.21%</div><div class="segment segment-green" style="width:45.2081356777%;"></div></td><td style="width: 30%"><div style="height: 10px">866,406</div><div class="segment segment-gold" style="width:7.20443139311%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/nevermore&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/nevermore_hphover.png"><span class="hero-name-list">Shadow Fiend</span></td><td style="width: 40%"><div style="height: 10px">45.03%</div><div class="segment segment-green" style="width:45.0333556292%;"></div></td><td style="width: 30%"><div style="height: 10px">3,117,165</div><div class="segment segment-gold" style="width:25.920182205%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/beastmaster&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/beastmaster_hphover.png"><span class="hero-name-list">Beastmaster</span></td><td style="width: 40%"><div style="height: 10px">44.99%</div><div class="segment segment-green" style="width:44.9860923468%;"></div></td><td style="width: 30%"><div style="height: 10px">251,660</div><div class="segment segment-gold" style="width:2.09263001917%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/life_stealer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/life_stealer_hphover.png"><span class="hero-name-list">Lifestealer</span></td><td style="width: 40%"><div style="height: 10px">44.77%</div><div class="segment segment-green" style="width:44.7716104943%;"></div></td><td style="width: 30%"><div style="height: 10px">1,078,793</div><div class="segment segment-gold" style="width:8.97049438239%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/rubick&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/rubick_hphover.png"><span class="hero-name-list">Rubick</span></td><td style="width: 40%"><div style="height: 10px">44.35%</div><div class="segment segment-green" style="width:44.3497457944%;"></div></td><td style="width: 30%"><div style="height: 10px">2,235,395</div><div class="segment segment-gold" style="width:18.5879944437%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/sand_king&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/sand_king_hphover.png"><span class="hero-name-list">Sand King</span></td><td style="width: 40%"><div style="height: 10px">44.35%</div><div class="segment segment-green" style="width:44.3499232624%;"></div></td><td style="width: 30%"><div style="height: 10px">957,810</div><div class="segment segment-gold" style="width:7.96448366313%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/earth_spirit&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/earth_spirit_hphover.png"><span class="hero-name-list">Earth Spirit</span></td><td style="width: 40%"><div style="height: 10px">44.33%</div><div class="segment segment-green" style="width:44.3284166301%;"></div></td><td style="width: 30%"><div style="height: 10px">508,403</div>
    <div class="segment segment-gold" style="width:4.22752674099%;">
    </div>
    </td></tr><tr onclick="DoNav(&#39;/hero/detail/shredder&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/shredder_hphover.png"><span class="hero-name-list">Timbersaw</span></td><td style="width: 40%"><div style="height: 10px">44.31%</div><div class="segment segment-green" style="width:44.3095348022%;"></div></td><td style="width: 30%"><div style="height: 10px">935,688</div><div class="segment segment-gold" style="width:7.78053245402%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/leshrac&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/leshrac_hphover.png"><span class="hero-name-list">Leshrac</span></td><td style="width: 40%"><div style="height: 10px">43.80%</div><div class="segment segment-green" style="width:43.7995943978%;"></div></td><td style="width: 30%"><div style="height: 10px">367,355</div><div class="segment segment-gold" style="width:3.05466939797%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/tusk&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/tusk_hphover.png"><span class="hero-name-list">Tusk</span></td><td style="width: 40%"><div style="height: 10px">43.75%</div><div class="segment segment-green" style="width:43.7546464235%;"></div></td><td style="width: 30%"><div style="height: 10px">1,070,716</div><div class="segment segment-gold" style="width:8.90333165226%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/obsidian_destroyer&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/obsidian_destroyer_hphover.png"><span class="hero-name-list">Outworld Devourer</span></td><td style="width: 40%"><div style="height: 10px">43.63%</div><div class="segment segment-green" style="width:43.625462211%;"></div></td><td style="width: 30%"><div style="height: 10px">868,110</div><div class="segment segment-gold" style="width:7.21860067529%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/chen&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/chen_hphover.png"><span class="hero-name-list">Chen</span></td><td style="width: 40%"><div style="height: 10px">43.54%</div><div class="segment segment-green" style="width:43.5429629017%;"></div></td><td style="width: 30%"><div style="height: 10px">132,917</div><div class="segment segment-gold" style="width:1.10524558634%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/pangolier&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/pangolier_hphover.png"><span class="hero-name-list">Pangolier</span></td><td style="width: 40%"><div style="height: 10px">43.49%</div><div class="segment segment-green" style="width:43.486704713%;"></div></td><td style="width: 30%"><div style="height: 10px">963,913</div><div class="segment segment-gold" style="width:8.01523197834%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/naga_siren&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/naga_siren_hphover.png"><span class="hero-name-list">Naga Siren</span></td><td style="width: 40%"><div style="height: 10px">43.32%</div><div class="segment segment-green" style="width:43.3165439752%;"></div></td><td style="width: 30%"><div style="height: 10px">224,547</div><div class="segment segment-gold" style="width:1.86717711561%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/templar_assassin&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/templar_assassin_hphover.png"><span class="hero-name-list">Templar Assassin</span></td><td style="width: 40%"><div style="height: 10px">42.93%</div><div class="segment segment-green" style="width:42.9304739152%;"></div></td><td style="width: 30%"><div style="height: 10px">946,393</div><div class="segment segment-gold" style="width:7.86954780948%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/tiny&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/tiny_hphover.png"><span class="hero-name-list">Tiny</span></td><td style="width: 40%"><div style="height: 10px">42.67%</div><div class="segment segment-green" style="width:42.674863811%;"></div></td><td style="width: 30%"><div style="height: 10px">1,640,734</div><div class="segment segment-gold" style="width:13.6432059997%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/razor&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/razor_hphover.png"><span class="hero-name-list">Razor</span></td><td style="width: 40%"><div style="height: 10px">42.65%</div><div class="segment segment-green" style="width:42.6505012824%;"></div></td><td style="width: 30%"><div style="height: 10px">536,125</div><div class="segment segment-gold" style="width:4.45804366617%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/lina&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/lina_hphover.png"><span class="hero-name-list">Lina</span></td><td style="width: 40%"><div style="height: 10px">42.44%</div><div class="segment segment-green" style="width:42.4433218665%;"></div></td><td style="width: 30%"><div style="height: 10px">2,420,025</div><div class="segment segment-gold" style="width:20.1232494721%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/gyrocopter&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/gyrocopter_hphover.png"><span class="hero-name-list">Gyrocopter</span></td><td style="width: 40%"><div style="height: 10px">42.16%</div><div class="segment segment-green" style="width:42.1640576197%;"></div></td><td style="width: 30%"><div style="height: 10px">641,933</div><div class="segment segment-gold" style="width:5.33786961017%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/batrider&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/batrider_hphover.png"><span class="hero-name-list">Batrider</span></td><td style="width: 40%"><div style="height: 10px">41.86%</div><div class="segment segment-green" style="width:41.86356684%;"></div></td><td style="width: 30%"><div style="height: 10px">245,175</div><div class="segment segment-gold" style="width:2.0387052569%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/wisp&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/wisp_hphover.png"><span class="hero-name-list">Io</span></td><td style="width: 40%"><div style="height: 10px">41.61%</div><div class="segment segment-green" style="width:41.6142413292%;"></div></td><td style="width: 30%"><div style="height: 10px">363,056</div><div class="segment segment-gold" style="width:3.01892189557%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/death_prophet&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/death_prophet_hphover.png"><span class="hero-name-list">Death Prophet</span></td><td style="width: 40%"><div style="height: 10px">41.04%</div><div class="segment segment-green" style="width:41.0399608945%;"></div></td><td style="width: 30%"><div style="height: 10px">327,320</div><div class="segment segment-gold" style="width:2.72176610457%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/furion&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/furion_hphover.png"><span class="hero-name-list">Nature's Prophet</span></td><td style="width: 40%"><div style="height: 10px">40.83%</div><div class="segment segment-green" style="width:40.8282268985%;"></div></td><td style="width: 30%"><div style="height: 10px">1,244,345</div><div class="segment segment-gold" style="width:10.3471099945%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/puck&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/puck_hphover.png"><span class="hero-name-list">Puck</span></td><td style="width: 40%"><div style="height: 10px">39.34%</div><div class="segment segment-green" style="width:39.3441322913%;"></div></td><td style="width: 30%"><div style="height: 10px">529,619</div><div class="segment segment-gold" style="width:4.40394428246%;"></div></td></tr><tr onclick="DoNav(&#39;/hero/detail/lone_druid&#39;)" style="cursor: pointer;"><td style="width: 30%"><img class="hero-img-list" src="./hero_stats_files/lone_druid_hphover.png"><span class="hero-name-list">Lone Druid</span></td><td style="width: 40%"><div style="height: 10px">38.04%</div><div class="segment segment-green" style="width:38.0411739558%;"></div></td><td style="width: 30%"><div style="height: 10px">226,891</div><div class="segment segment-gold" style="width:1.88666819391%;"></div></td></tr></tbody><tfoot></tfoot></table>
    
                    </div>
            
            <!-- footbar -->
        <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
</div></div>
        <div style="width:100%;min-width:1100px;text-align: center; display: table;position: absolute;">
            <div style="background-color: rgb(10,10,10);border-top:1px rgb(15,15,15) solid;cursor: pointer;margin-top: -1px;height:23px;" onclick="GoToTop(this)">
                <ion-icon name="arrow-up"></ion-icon>
<!--                <span class="fa fa-chevron-up" style="font-size: 16px;line-height: 25px;"></span>-->
            </div>
        
            </div>
            
            <div style="width:100%;min-width:1100px;text-align: center; display: table;position: absolute;">
            <div style="background-color: rgb(10,10,10);border-top:1px rgb(15,15,15) solid;cursor: pointer;margin-top: -1px;height:23px;" onclick="GoToTop(this)">
                <ion-icon name="arrow-up"></ion-icon>
<!--                <span class="fa fa-chevron-up" style="font-size: 16px;line-height: 25px;"></span>-->
            </div>
        
            <div class="footbar" style="padding-bottom:10px;">
                <div style="position: relative;width: 1100px;height: 40px;margin: 0 auto;">
                    <div style="position: absolute;top: 0;left: 0;">
                        <div style="float:left;margin-left: 20px;margin-top: 5px">
                            <a target="_blank" href="https://github.com/rohame">
                                <ion-icon name="logo-github"></ion-icon>
                                Chengwei Ye
                            </a>
                        </div>
                        <div style="float:left;margin-left: 20px;margin-top: 5px">
                            <a target="_blank" href="https://github.com/fegan104">
                                <ion-icon name="logo-github"></ion-icon>
                                Frank Egan
                            </a>
                        </div>
                        <div style="float:left;margin-left: 20px;margin-top: 5px">
                            <a target="_blank" href="https://github.com/ReinaFeng">
                                <ion-icon name="logo-github"></ion-icon>
                                Ruonan Feng
                            </a>
                        </div>
                        <div style="float:left;margin-left: 20px;margin-top: 5px">
                            <a target="_blank" href="https://github.com/Echo226">
                                <ion-icon name="logo-github"></ion-icon>
                                Xinting Yao
                            </a>
                        </div>
<!--
                        <div style="float:left;margin-left: 20px">
                            <a href="http://xiaoheihe.cn/" target="_blank" style="color:#ccc">小黑盒APP</a>
                        </div>
-->
                    </div>
                    <div style="position: absolute;top: 0;right: 0;margin-top: 5px">
                        <div style="float:right;margin-right: 20px;margin-top: 5px">
                            <a target="_blank" href="mailto:cye3@wpi.edu">Contact us</a>
                        </div>
                        <div style="float:right;margin-right: 20px;margin-top: 5px">
                            <a target="_blank" href="https://store.steampowered.com/">
                                <ion-icon name="logo-steam"></ion-icon>
                                Steam
                            </a>
                        </div>
                        <div style="float:right;margin-right: 20px;margin-top: 5px">
                            <a target="_blank" href="http://dotamax.com">
                                DotaMax
                            </a>
                        </div>
                        <div style="float:right;margin-right: 20px;margin-top: 5px">
                            <a target="_blank" href="http://opendota.com">
                                OpenDota
                            </a>
                        </div>
                        <div style="float:right;margin-right: 20px;margin-top: 5px">
                            <a target="_blank" href="http://dota2.com">
                                DOTA2
                            </a>
                        </div>
                        
                    </div>
                </div>
                <div class="site-record" style="position: relative;text-align: center;height: 60px;line-height: 40px;">
                    Credit to
<!--                    <span class="c-divider">|</span>-->
                    <a target="_blank" class="c-link" href="http://www.dotamax.com">DOTAMAX</a><br>
<!--                    <span>违法和不良信息举报电话：010-84158300　举报邮箱：jubao@dotamax.com</span>-->
                </div>
            </div>
        </div>
                    <!-- end of footbar -->
        </div>
        
    </div>
    </body>
</html>