<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    Our project is creating a web application that allows exploration of game statistics from the popular multiplayer
    online battle arena game DOTA2. Using our application you will be able to explore various statistics as well as the
    raw game data based on a large collection of match data. We believe that this tool can be used by DOTA2 players to
    learn more about the current meta-game and make more data driven decision when it comes to improving their game
    play.
  </div>

</body>

</html>