<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results For <%= viewName %> </h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.league_name %> <a href="/matches/<%= r.match_id %>/winners">(see winners)</a></li>
    <% }); %>
</ul>

</div>

</body>
</html>